# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "plugins", "themes"
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# ignore wp-config.php
wp-config.php

# ignore files:
wp-content/themes/eos_theme/assets/img/slide/*
