/**
* Template EOS
*/
.center {
    text-align: center;
}

.Center {
    position: relative;
    margin: 0 auto;
}

.text-align-justify, .justify {
    text-align: justify;
}

hr.bar {
    position: relative;
    margin: 0 auto;
    width: 10em;
    background-color: #36D2B7;
    border: 2px solid #36D2B7;
    opacity: 1;
}

.nav-tabs .nav-item {
    display: block;
    position: relative;
    width: 19%;
    margin-left: 5px;
    margin-right: 5px;    
}

.nav-tabs .nav-item a {
    width: 100%;
    height: 240px !important;
    border-radius: 10px;
    margin: 0;
    padding: 0;   
}


.nav-tabs .nav-item i {
    position: absolute;
    z-index: 500;
    top: -35px;
    left: 30px;
    background-color: #fff;
    text-align: center;
    padding: 5px 15px;
    border-radius: 50%;
    font-size: 35px;
    color: #34A7E4;
}

.nav-tabs .nav-item .bar-top,
.nav-tabs .nav-item .bar-center,
.nav-tabs .nav-item .bar-bottom {
    display: block;
    position: absolute;
    width: 100%;
    padding: 20px;    
}

.nav-tabs .nav-item .bar-top {
    z-index: 200;
    top: 0;
    height: 100px;
    padding-top: 50px;
    background-color: #36D2B7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0); 
    border-right: 5px solid rgba(0,0,0,0);  
}

.nav-tabs .nav-item .bar-top h4 {
    color: #fff;
    display: block !important;
}

.nav-tabs .nav-item .bar-center {
    z-index: 100;
    top: 60px;
    background-color: #36D2B7;
    height: 30px;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);    
    border-left: 5px solid rgba(0,0,0,0); 
    border-right: 5px solid rgba(0,0,0,0); 
}

.nav-tabs .nav-item .bar-bottom {
    top: 100px;
    height: 140px;
    background-color: #fff;
    padding-top: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0); 
    border-right: 5px solid rgba(0,0,0,0);  
}

.nav-tabs .nav-item a:hover .bar-top {
    border-top: 5px solid #fff;
    border-left: 5px solid #fff; 
    border-right: 5px solid #fff;  
}
.nav-tabs .nav-item a:hover .bar-center { 
    border-left: 5px solid #fff;
}
.nav-tabs .nav-item a:hover .bar-bottom {
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff; 
    border-right: 5px solid #fff;  
}

.nav-tabs .nav-item a:hover i {
    background-color: #36D2B7;
    color: #fff; 
}

.nav-tabs .nav-item .bar-bottom p {
    font-size: 12px;
    color: #222;
}

.tabs .btn-tabs{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid #36D2B7;
    background-color: #36D2B7;
    color: #fff;
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 50px;   
}

.tabs .btn-tabs:hover{
    border: 1px solid #36D2B7;
    color: #36D2B7;
    background-color: #FFF;
}

@media (max-width: 992px) {
    .nav-tabs .nav-item {
        width: 90%;
        margin-bottom: 50px;
    }
    .nav-tabs .nav-item i {        
        padding: 5px 5px; 
        top: -25px;       
    }
}

.tabs .btn-solution {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: #1b8ae5;
    color: #fff;
    font-weight: 700;
}

.tabs .btn-solution:hover {
    background-color: #43abff;
}

.error404 h1, .tabs .fst-italic {
    text-align: center;
}

.services .icon-box {
    min-height: 120px;
}

.services .video-box{
    width: 100%;
    height: 55vh;
    position: relative;
    background-size: 60%;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .services .video-box .btn-watch-video{
    margin: 0;padding: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 26%;
    top: 38%;
  }

  .services .video-box .btn-watch-video i {
    position: relative;
    margin: 0;padding: 0;
    top: -20px;
    color: rgba(255,255,255,0.5);
    font-size: 82px;
    font-weight: 900;
    transition: 0.3s;
}

.services .video-box .btn-watch-video i:hover {
    color: #fff;
}

@media (max-width: 992px) {
    .services .video-box{
        width: 100%;
        height: 30vh;
        background-size: 100%;
      }
      .services .video-box .btn-watch-video{
        left: 5%;
        top: 5%;
      }
}

.header-page{
    background-color: #0c1031 !important;
    height: 100px;

}

.footer .logo-footer img{
    width: 15em;
}


/*NETUNO*/

.dark1:before, .dark2:before{
    background-color: #0c1031;
}

.dark1{
    margin-bottom: -130px;    
    background: #fff;
}

.dark1 .col1, .light .col2{
    padding: 50px;
}

.dark1 .section-title, .light .section-title{
    margin-top: 10%;
}

.dark1 .section-title h4, .light .section-title h4{
    color: #34A7E4;
}

.dark1 img{
    width: 90%;
}

.light p{
    color: #222 !important;
}

.light img{
    position: absolute;
    top:0;
    left: 0;
    width: 40em;
}

@media(max-width:900px){
    .light img{
        display: none;
    }
}

.dark2{    
    background: linear-gradient(to bottom, #34A7E4 50%, #0c1031 50%);
}

.light:before{
    background-color: #fff;
}

.detail{
    margin-top: -100px;
    margin-bottom: -200px;
    z-index: 100;
}

.detail .row{
    margin-top: 50px;
}

.detail .col{
    padding-left: 6%;
}

.detail i{
    background-color: #36D2B7;
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
}

.detail hr.barr {   
    width: 10em;
    background-color: #36D2B7;
    border: 2px solid #36D2B7;
    opacity: 1;
}


/*AGILLIS*/

.adark1:before{
    background-color: #34A7E4;
}

.adark2:before, .adetail:before{
    background-color: #36D2B7;
}

.adark1{
    margin-bottom: -130px;    
    background: #fff;
}

.adark1 .col1, .alight .col2{
    padding: 50px;
}

.adark1 .section-title, .alight .section-title{
    margin-top: 10%;
}

.adark1 .section-title h4, .alight .section-title h4, .adetail h4{
    color: #0c1031;
}

.adark1 img{
    width: 90%;
}

.alight p{
    color: #222 !important;
}

.alight img{
    position: relative;
    top:0;
    left: 0;
    width: 40em;
}

.adark2{    
    background: linear-gradient(to bottom, #36D2B7 50%, #0c1031 50%);
}

.alight:before{
    background-color: #fff;
}

.adetail{
    margin-top: -100px;
    margin-bottom: -200px;
    z-index: 100;
}

.adetail .row{
    margin-top: 50px;
}

.adetail .col{
    padding-left: 6%;
}

.adetail i{
    background-color: #fff;
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
    color: #36D2B7;
}

.adetail hr.barr {   
    width: 10em;
    background-color: #36D2B7;
    border: 2px solid #36D2B7;
    opacity: 1;
}


/*ZAPIA*/

.zdark1:before{
    background-color: #36D2B7;
}

.zdark1{
    margin-bottom: -130px;    
    background: #fff;
}

.zdark1 .col1, .zlight .col2{
    padding: 50px;
}

.zdark1 .section-title, .zlight .section-title{
    margin-top: 10%;
}

.zdark1 .section-title h4, .zlight .section-title h4, .zdetail h4{
    color: #0c1031;
}

.zdark1 img{
    width: 90%;
}

.zlight p{
    color: #222 !important;
}

.zlight img{
    position: absolute;
    top:0;
    left: 0;
    width: 40em;
}

@media(max-width:900px){
    .zlight img{
        display: none;
    }
}

.zdark2{    
    background: linear-gradient(to bottom, #34A7E4 50%, #0c1031 50%);
}

.zlight:before{
    background-color: #fff;
}

.zdetail{
    margin-top: -100px;
    margin-bottom: -200px;
    z-index: 100;
}

.zdetail .row{
    margin-top: 50px;
}

.zdetail .col{
    padding-left: 6%;
}

.zdetail i{
    background-color: #36D2B7;
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
}

.zdetail hr.barr {   
    width: 10em;
    background-color: #36D2B7;
    border: 2px solid #36D2B7;
    opacity: 1;
}



/*POLIS*/

.pdark1:before, .pdark2:before{
    background-color: #0c1031;
}

.pdark1{
    margin-bottom: -130px;    
    background: #fff;
}

.pdark1 .col1, .plight .col2{
    padding: 50px;
}

.pdark1 .section-title, .plight .section-title{
    margin-top: 10%;
}

.pdark1 .section-title h4, .plight .section-title h4{
    color: #34A7E4;
}

.pdark1 img{
    width: 90%;
}

.plight p{
    color: #222 !important;
}

.plight img{
    position: relative;
    top:0;
    left: 0;
    width: 40em;
}

@media(max-width:900px){
    .plight img{
        display: none;
    }
}

.pdark2{    
    background: linear-gradient(to bottom, #34A7E4 50%, #0c1031 50%);
}

.plight:before{
    background-color: #fff;
}

.pdetail{
    margin-top: -100px;
    margin-bottom: -200px;
    z-index: 100;
}

.pdetail .row{
    margin-top: 50px;
}

.pdetail .col{
    padding-left: 6%;
}

.pdetail i{
    background-color: #36D2B7;
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
}

.pdetail hr.barr {   
    width: 10em;
    background-color: #36D2B7;
    border: 2px solid #36D2B7;
    opacity: 1;
}

/*EMPRESA , TRABALHE, CONTATO*/

.tabs .blue{
    background-color: #34A7E4;
    color: #fff !important;
    padding: 30px;
    text-align: left !important;
}

.tabs .blue .section-title{
    padding-left: 30px;
    border-left: 1px solid #fff;
}

.tabs .blue h4{
    text-align: left;
}

.tabs .text{
    padding: 50px;
}

.tabs .img{
    margin: 0;
    padding: 0;
}

.tabs.job {
    margin-top: 0;
    margin-bottom: 0;
}

.tabs.job .col1 {
    margin-top: -100px;
}

.tabs.job i{
    position: relative;
    top: 10px;
    background-color: #fff;
    color: #34A7E4;
    border: 1px solid #34A7E4;
}
.tabs.job .wpcf7-form-control-wrap{
    width: 100%;
    margin-bottom: 15px;
}

/*ETC, BLOG*/

.post{
    min-height: 500px;
}